/* the playing area is 22 * 10, except that the top 2 rows are hidden
	 i.e. 320 x 704
 */

#nextPieceBox{
		position: absolute;
		top: 150;
		left: 440;
		border: 1px solid black;
		width: 152;
		height: 120;
		background-color: rgb(192, 192, 192);
}
#nextPieceHeader{
		position: absolute;
		top: 120;
		left: 440;
		width: 152;
		text-align: center;
		font-weight: bold;
		font-size: 24px;
}
.highScoreText{
		position: absolute;
		left: 440;
		font-size: 18px;
}
#highScoreHeader{
	position: absolute;
	top: 285;
	left: 440;
	font-size: 18px;
}

#playingArea{
		position: absolute;
		top: 120;
		left: 80;
		border: 1px solid black;
		width: 320;
		height: 640;
		background-color: rgb(192, 192, 192);
}
#playingAreaScreen{
		position: absolute;
		top: 120;
		left: 80;
		border: 1px solid black;
		width: 320;
		height: 640;
		opacity: 0.8;
		background-color: rgb(8, 8, 8);
}
#scoreBox{
		position: absolute;
		top: 760;
		left: 80;
		border: 1px solid black;
		width: 320;
		height: 24;
		font-size: 16pt;
		color: white;
		background-color: rgb(32, 128, 64);
}
#pausedBox{
		position: absolute;
		top: 420;
		left: 80;
		border: 1px solid black;
		width: 320;
		height: 48;
		font-size: 30pt;
		text-align: center;
		font-weight: bold;
		visibility: hidden;
		z-index: 1;
		color: maroon;
		background-color: rgb(192, 192, 192);
}
#playAgainButton{
		position: absolute;
		top: 500;
		font-size: 20pt;
		text-align: center;
		visibility: hidden;
		z-index: 1;
		color: green;
		background-color: rgb(192, 192, 192);
}