body {
    background-color: #f0f0f0;
}

#root {
    margin: 0 auto;
}

.title {
    color: rgb(154, 52, 18);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: calc(2 / 1.5);
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}
