@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #f0f0f0;
    margin: 0px;
}

.form-background {
    background-image: linear-gradient(#bfdbfe, #8ab3e6, #bfdbfe);
    padding: 16px;
    border-radius: 8px;
}

.content {
    margin: auto;
}

a {
    color: #9a3412;
}

a:hover {
    color: #b4871c;
}

input, textarea {
    border: 2px none #fff;
    margin: 0px;
    padding: 4px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

input:focus, input:focus-visible, input:active, input:hover, textarea:focus, textarea:focus-visible, textarea:active, textarea:hover {
    border: 2px solid #9a3412;
}

#root {
    margin: 0 auto;
}

.title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: calc(2 / 1.5);
    text-align: center;
    padding: 0px 0px 4px 0px;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    border-radius: 0.75rem;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #9a3412;
    border: 0px;
    font-size: 16px;
}

button:hover {
    background-color: #b4871c;
    cursor: pointer;
}

button:disabled {
    background-color: #999999;
    cursor: auto;
}

p {
    margin: 0px;
}
