@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #f0f0f0;
    margin: 0px;
}

.page {
    display: flex;
}

.form-background {
    background-image: linear-gradient(#bfdbfe, #8ab3e6, #bfdbfe);
    padding: 16px;
    border-radius: 8px;
}

.content {
    margin: auto;
    margin-top: 16px;
    align-items: center;
}

.content3d {
    width: 100%;
    height: 100lvh;
}

a {
    color: #2b7fff;
}

a:hover {
    color: #b4871c;
}

input, textarea {
    border: 2px none #fff;
    margin: 0px;
    padding: 4px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

input:focus, input:focus-visible, input:active, input:hover, textarea:focus, textarea:focus-visible, textarea:active, textarea:hover {
    border: 2px solid #9a3412;
}

#root {
    margin: 0 auto;
}

#top {
    background: #111826;
    padding-block: 4px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.title {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: calc(2 / 1.5);
    text-align: center;
    padding: 8px 0px 4px 0px;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    border-radius: 0.75rem;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #9a3412;
    border: 0px;
    font-size: 16px;
}

button:hover {
    background-color: #b4871c;
    cursor: pointer;
}

button:disabled {
    background-color: #999999;
    cursor: auto;
}

p {
    margin: 0px;
}

.menu-parent-item {
    display: inline-block;
    width: 96px;
    padding: 0px 4px;
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 14px;
    height: 100%;
    color: #2b7fff;
}

.menu-link-item {
    display: inline-block;
    width: 96px;
    padding: 0px 0px;
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 14px;
    height: 100%;
    color: #2b7fff;
}

.menu-link-item:hover {
    text-decoration: underline;
}

.menu-dropdown-wrapper {
    position: absolute;
    margin-top: 0px;
    padding-top: 8px;
    margin-right: 80px;
}

.menu-child-item {
    display: none; /* DEBUG: set this to 'block' for testing, but this should be 'none' */
    height: 32px;
    background-color: #111826;
    padding: 0px 16px 0px 4px;
    color: #2b7fff;
    font-weight: 700;
    font-size: 14px;
    z-index: 1;
}

.menu-parent-item:hover {
    color: #b4871c;
}

.menu-parent-item:hover .menu-child-item {
    display: block;
}
